*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("/images/developer.png"), url("/images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav{
  width: 74%;
  max-width: 1698px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .r{
  color: #FD6E0A;
}

.mary h2{
  font-size: 45px;
  font-weight: 900;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 51px;
  align-items: center;
}

nav ul a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

.button{
  background-color: #FD6E0A;
  color: #FFF8F3;
  font-size: 20px;
  font-weight:bold ;
  border-radius: 5px;
  border: none;
  padding: 18px 35px 19px 36px;
  cursor: pointer;
}

#banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  margin: 46px 38px 0px 230px;
}

.banner-content{
  max-width: 585px;
  /* height: 356px; */
}

.banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

.banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 20px;
}

.banner-content p{
  font-size: 18px;
  text-align: justify;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

.banner-img{
  max-width: 585px;
  vertical-align:middle;
}

#about{
  padding-top: 130px;
  /* aikane margin top dilao same result ace */
}

.about-container{
  width: 74%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
}

.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}

.section-heading p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}

.about-info{
  display: flex;
  justify-content: space-around;
}

.info-card p{
  font-size: 20px;
  line-height: 30px;
}

.info-card p{
  font-size: 20px;
}

#skill{
  padding-top: 130px;
}

.skill-container{
  width: 74%;
  max-width: 1140px;
  margin: 0 auto;
}
 
.skill-box{
  display: flex;
  gap: 24px;
}

.skill-card{
  padding: 30px;
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #00000022;
}

.skill-card img{
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.skill-card p{
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  margin-bottom: 30px;

}

#resume{
  padding-top: 130px;
}

.resume-container{
  width: 74%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}

.section-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #474747;
}

.resume-card{
  max-width: 511px;
  margin-right: 47px;
}

.card-title{
  font-size: 25px;
  margin-bottom: 10px;
  color: #474747;
}

.card-info{
  font-size: 20px;
  margin-bottom: 20px;
  color: #757575;
  font-weight: 600;
}

.card-text{
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}

.resume-container hr{
  margin: 30px 0;
}

.button2{
  text-align: center;
}

.cvbtn{
  color: #FFF8F3;
  font-size: 20px;
  border-radius: 5px;
  background-color: #FD6E0A;
  padding: 19px 17px 18px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

footer{
  margin-top: 130px;
  background-color: #FFF8F3;
  padding: 130px 0;
}

.footer-container{
  width: 74%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}

.social{
  max-width: 562px;
}

.footer-containerh2{
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}

.footer-container .social p{
  color: #474747;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 30px;
}

.icon a{
  margin-right: 24px;
}

form input[type="text"], form textarea{
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}